<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-about">
      <h1>About</h1>

      <p>2013111999 김성준</p>
      <p>2014112062 양준현</p>
      <p>2014112032 최동혁</p>
    </div>
  </body>
</html>
