<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>

    <div class="container post post-show">
      <% include ./partials/header %>
      
      <center><h1>Correct</h1></center>




    </div> <!-- container end -->
  </body>
</html>
